/* Universal Styles */
html {
  font-family: "Roboto", "Helvetica", sans-serif;
  font-size: 16px;
}

.main-content {
  position: relative;
  top: 3.5rem;
}

.content {
  width: 100%;
  margin: 0 auto;
}

/* Header */
header {
  position: fixed;
  width: 100%;
  height: 4rem;
  background-color: white;
  z-index: 5;
}

header .menu {
  display: flex;
  align-items: center;
}

header .logo {
  display: flex;
  align-items: center;
  flex: 1;
  padding-left: 1.5rem;
  height: 2rem;
}

header .logo .img {
  height: 2rem;
  width: auto;
}

header nav ul {
  display: flex;
  padding-right: 1.5rem;
}

nav li {
  padding-left: 1rem;
}

nav a {
  text-decoration: none;
  color: black;
}

header .mobile {
  display: none;
}

/* Main Content */

  /* Features Section */
.start-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  width: 100%;
}

#start-banner {
  background-image: url(./images/banner.jpg);
  background-size: cover;
  width: 60%;
  height: auto;
}

/* #start-banner img {
  padding-left: 1.5rem;
  width: 60%;
  height: auto;
} */

#start-text {
  margin-left: 1.5rem;
}
